<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>注册</title>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/register.css" />
    <script type="text/javascript" src="__PUBLIC__/js/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/respond.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <ul>  
                <li><a href="{:url('index/index')}"><img src="__PUBLIC__/image/logo.png" alt="logo"></a></li>
                <li class="divider"></li>
                <li><a href="index.html"></a></li>
            </ul>

        </div>

        <div class="content">
            <form method="post" action="">
                <input type="hidden" name="id" value="{$data.id}">
                <p class="pass-form-item">
                    <label class="pass-label" style="font-size: 12px">用户名</label>
                    <input type="text" class="pass-text-input" value="{$data.username}" placeholder="请输入用户名" id="username" name="username">
                    <span  id='cfname'></span>
                </p>
                <p class="pass-form-item">
                    <label class="pass-label" style="font-size: 12px">用户原密码</label>
                    <input type="password" class="pass-text-input" value="" placeholder="" id="expassword" name="expassword">
                </p>
                <p class="pass-form-item">
                    <label class="pass-label" style="font-size: 12px">用户新密码</label>
                    <input type="password" class="pass-text-input" value="" placeholder="" id="password" name="password">
                </p>
                
                <p class="pass-form-item">
                    <label class="pass-label" style="font-size: 12px">再输入密码</label>
                    <input type="password" class="pass-text-input" value="" placeholder="" id="sepassword" name="sepassword">
                </p>
                <p class="pass-form-item">
                    <label class="pass-label" style="font-size: 12px">手机号码</label>
                    <input type="text" class="pass-text-input" value="{$data.mobile}" placeholder="请输入手机号码" id="mobile" name="mobile">
                    <span  id='cfpassword'></span>
                </p>
                <p class="pass-form-item">
                    <label class="pass-label" style="font-size: 12px">邮箱</label>
                    <input type="text" class="pass-text-input" value="{$data.email}" placeholder="请输入邮箱" id="email" name="email">
                    <span  id='cfpassword'></span>
                </p>
                <p class="pass-form-item">
                    <label class="pass-label">验证码</label>
                    <input type="text" name="captcha" class="pass-text-input " placeholder="请输入验证码">
                </p>
                <p class="pass-form-item">
                    <label class="pass-label"></label>
                    <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random()" alt="验证码">
                </p>
                <p class="pass-form-item">
                    <input type="submit" value="确认" class="pass-button">
                </p>
            </form>
           
        </div>

        <div class="foot">
            <div>
                <div>2016&nbsp;©Baidu</div>
            </div>
        </div>
    </div>
</body>
</html>
{load href="__ADMIN__/js/common.js" /}
<script>
    var SCOPE = {
        'cfname_url': '{:url("api/register/cfusername")}',
        'repassword_url': '{:url("api/register/repassword")}',
    };
</script>